### Write A pandas program to implement  following operations

## ● to find and drop the missing values from the given dataset

In [1]:
# Name : Archit B Shah
# Enrollment No : 216270307007
import pandas as pd 
df = pd.read_csv('/kaggle/input/nifty50-stock-market-data/AXISBANK.csv')
missing = df.isna()
df_clean = df.dropna(axis=0)
print(df)
print("\n \n \n ")
print(missing)
print("\n \n \n ")
print(df_clean)

            Date    Symbol Series  Prev Close   Open    High     Low    Last  \
0     2000-01-03   UTIBANK     EQ       24.70   26.7   26.70   26.70   26.70
1     2000-01-04   UTIBANK     EQ       26.70   27.0   28.70   26.50   27.00
2     2000-01-05   UTIBANK     EQ       26.85   26.0   27.75   25.50   26.40
3     2000-01-06   UTIBANK     EQ       26.30   25.8   27.00   25.80   25.90
4     2000-01-07   UTIBANK     EQ       25.95   25.0   26.00   24.25   25.00
...          ...       ...    ...         ...    ...     ...     ...     ...
5301  2021-04-26  AXISBANK     EQ      671.35  694.0  703.80  684.50  699.50
5302  2021-04-27  AXISBANK     EQ      700.45  691.1  703.90  684.10  700.90
5303  2021-04-28  AXISBANK     EQ      699.55  708.0  712.50  688.15  705.95
5304  2021-04-29  AXISBANK     EQ      708.15  712.0  726.90  707.00  717.10
5305  2021-04-30  AXISBANK     EQ      719.40  705.0  729.85  705.00  711.65

       Close    VWAP    Volume      Turnover    Trades  Deliverable Volume  \
0      26.70   26.70    112100  2.993070e+11       NaN                 NaN
1      26.85   27.24    234500  6.387275e+11       NaN                 NaN
2      26.30   26.24    170100  4.462980e+11       NaN                 NaN
3      25.95   26.27    102100  2.681730e+11       NaN                 NaN
4      24.80   25.04     62600  1.567220e+11       NaN                 NaN
...      ...     ...       ...           ...       ...                 ...
5301  700.45  695.33  21646184  1.505120e+15  286480.0           5949937.0
5302  699.55  692.83  46559967  3.225830e+15  289445.0          18080082.0
5303  708.15  701.92  54060587  3.794635e+15  507747.0          17851331.0
5304  719.40  717.41  25939327  1.860920e+15  312079.0           7357520.0
5305  714.90  719.36  23011654  1.655365e+15  232879.0           6786072.0

      %Deliverble
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
5301       0.2749
5302       0.3883
5303       0.3302
5304       0.2836
5305       0.2949

[5306 rows x 15 columns]




       Date  Symbol  Series  Prev Close   Open   High    Low   Last  Close  \
0     False   False   False       False  False  False  False  False  False
1     False   False   False       False  False  False  False  False  False
2     False   False   False       False  False  False  False  False  False
3     False   False   False       False  False  False  False  False  False
4     False   False   False       False  False  False  False  False  False
...     ...     ...     ...         ...    ...    ...    ...    ...    ...
5301  False   False   False       False  False  False  False  False  False
5302  False   False   False       False  False  False  False  False  False
5303  False   False   False       False  False  False  False  False  False
5304  False   False   False       False  False  False  False  False  False
5305  False   False   False       False  False  False  False  False  False

       VWAP  Volume  Turnover  Trades  Deliverable Volume  %Deliverble
0     False   False     False    True                True         True
1     False   False     False    True                True         True
2     False   False     False    True                True         True
3     False   False     False    True                True         True
4     False   False     False    True                True         True
...     ...     ...       ...     ...                 ...          ...
5301  False   False     False   False               False        False
5302  False   False     False   False               False        False
5303  False   False     False   False               False        False
5304  False   False     False   False               False        False
5305  False   False     False   False               False        False

[5306 rows x 15 columns]




            Date    Symbol Series  Prev Close     Open     High      Low  \
2850  2011-06-01  AXISBANK     EQ     1282.50  1282.25  1291.75  1265.20
2851  2011-06-02  AXISBANK     EQ     1278.25  1255.10  1285.00  1255.10
2852  2011-06-03  AXISBANK     EQ     1273.75  1272.00  1288.00  1224.00
2853  2011-06-06  AXISBANK     EQ     1242.75  1242.00  1242.00  1208.15
2854  2011-06-07  AXISBANK     EQ     1235.45  1227.00  1252.90  1224.75
...          ...       ...    ...         ...      ...      ...      ...
5301  2021-04-26  AXISBANK     EQ      671.35   694.00   703.80   684.50
5302  2021-04-27  AXISBANK     EQ      700.45   691.10   703.90   684.10
5303  2021-04-28  AXISBANK     EQ      699.55   708.00   712.50   688.15
5304  2021-04-29  AXISBANK     EQ      708.15   712.00   726.90   707.00
5305  2021-04-30  AXISBANK     EQ      719.40   705.00   729.85   705.00

         Last    Close     VWAP    Volume      Turnover    Trades  \
2850  1277.25  1278.25  1278.97    792282  1.013307e+14   26996.0
2851  1280.00  1273.75  1271.87    867797  1.103726e+14   29661.0
2852  1243.00  1242.75  1258.90   1413508  1.779467e+14   45306.0
2853  1235.10  1235.45  1226.10   1886949  2.313594e+14   46968.0
2854  1245.80  1244.65  1243.60   1043816  1.298086e+14   30220.0
...       ...      ...      ...       ...           ...       ...
5301   699.50   700.45   695.33  21646184  1.505120e+15  286480.0
5302   700.90   699.55   692.83  46559967  3.225830e+15  289445.0
5303   705.95   708.15   701.92  54060587  3.794635e+15  507747.0
5304   717.10   719.40   717.41  25939327  1.860920e+15  312079.0
5305   711.65   714.90   719.36  23011654  1.655365e+15  232879.0

      Deliverable Volume  %Deliverble
2850            168311.0       0.2124
2851            329956.0       0.3802
2852            589189.0       0.4168
2853            970371.0       0.5143
2854            411664.0       0.3944
...                  ...          ...
5301           5949937.0       0.2749
5302          18080082.0       0.3883
5303          17851331.0       0.3302
5304           7357520.0       0.2836
5305           6786072.0       0.2949

[2456 rows x 15 columns]

## ● to remove the duplicates from the given dataset.

In [2]:
#Name : Archit B Shah
# Enrollment No: 216270307007
import pandas as pd 
df = pd.read_csv('/kaggle/input/employee-dataset/Employee.csv')
df_cleaned = df.drop_duplicates() 
print(df) 
print("\n \n \n") 
print(df_cleaned)

      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4648  Bachelors         2013  Bangalore            3   26  Female          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes
4652  Bachelors         2015  Bangalore            3   33    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4648                          4           0
4649                          2           1
4650                          5           1
4651                          2           0
4652                          4           0

[4653 rows x 9 columns]




      Education  JoiningYear       City  PaymentTier  Age  Gender EverBenched  \
0     Bachelors         2017  Bangalore            3   34    Male          No
1     Bachelors         2013       Pune            1   28  Female          No
2     Bachelors         2014  New Delhi            3   38  Female          No
3       Masters         2016  Bangalore            3   27    Male          No
4       Masters         2017       Pune            3   24    Male         Yes
...         ...          ...        ...          ...  ...     ...         ...
4645    Masters         2017       Pune            2   31  Female          No
4647  Bachelors         2016       Pune            3   30    Male          No
4649    Masters         2013       Pune            2   37    Male          No
4650    Masters         2018  New Delhi            3   27    Male          No
4651  Bachelors         2012  Bangalore            3   30    Male         Yes

      ExperienceInCurrentDomain  LeaveOrNot
0                             0           0
1                             3           1
2                             2           0
3                             5           1
4                             2           1
...                         ...         ...
4645                          2           0
4647                          2           0
4649                          2           1
4650                          5           1
4651                          2           0

[2764 rows x 9 columns]